*{
    padding: 0;
    margin: 0;
}

body{
  font-family: "Young Serif", serif;
  background-color: black;
  color: lightgray;
}
.container{
    padding: 50px;
}

.section-one{
    padding: 20px;
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
}

.section-one__contact{
    background-color: black;
    color: lightgray;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
}

.section-one__name{
    font-size: 60px;
}

.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}

.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}

.section-two__des,.section-three__des,.section-four__des,.section-five__des{
    margin-top: 10px;
}

.section-five{
    background-color: lightgrey;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.section-five__title a{
    color: #0E2339;
}

.section-three li,.section-four li{
    list-style: none;
}

.section-three{
    background-color: #6462fd;
    color: black;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    height: 150px;
    vertical-align: top;
}
.section-four{
    background-color: orangered;
    color: black;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    height: 150px;
    vertical-align: top;
}


.contact-form{
    margin-top: 20px;
}

.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 20px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid lightgray 1px;
    background-color: black;
}
.contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid lightgray 1px;
    background-color: black;
}
.contact-form__submit{
    padding: 10px;
    background-color: orangered;
    border: none;
}